<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>数据分析报表系统</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">

    <style>
        .childrenBody{
            margin: 10px 10px 0;
            background-color: #f2f2f2;
        }
    </style>

</head>
<body class="childrenBody">

<fieldset class="layui-elem-field">
    <legend>源数据区域</legend>
    <div class="layui-field-box">
        <div class="layui-upload-drag" id="test10">
            <i class="layui-icon"></i>
            <p>点击上传，或将文件拖拽到此处</p>
        </div>
    </div>
</fieldset>

<fieldset class="layui-elem-field">
    <legend>条件区域</legend>
    <div class="layui-field-box">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 80%">
                    <label class="layui-form-label">查询条件1</label>
                    <div class="layui-input-inline" style="width: 20%;">
                        <input type="text" name="name1" placeholder="请输入分类名称（如“病理”）" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid">：</div>
                    <div class="layui-input-inline" style="width: 60%;">
                        <textarea name="data1" placeholder="请输入该分类包含的所有查询条件。多个条件之间用【换行符】隔开。（如A下一行B下一行C）" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" id="footerBtn">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-warm" type="button" id="addSearch">增加查询条件</button>
                    <button class="layui-btn" lay-submit lay-filter="subBtn" id="submit">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<fieldset class="layui-elem-field">
    <legend>结果区域</legend>
    <div class="layui-field-box">
        <div class="layui-form" id="file">

        </div>
        <div class="layui-form-mid layui-word-aux">点击该处文件名下载分析后的文件</div>
    </div>
</fieldset>

<script th:src="@{/layui/layui.js}"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['upload', 'form'], function(){
        var $ = layui.jquery
            ,upload = layui.upload,
            form = layui.form;

        upload.render({ //允许上传的文件后缀
            elem: '#test10'
            ,url: '/upd'
            ,accept: 'file' //普通文件
            ,auto: false
            ,data: {'search':''}
            ,bindAction: '#submit'
            ,exts: 'xls|.xlsx' //只允许上传压缩文件
            ,size: 0
            ,before: function (obj) {
                this.data.search =  getSearch();
            }
            ,done: function(res){
                $("#file").html(res.msg);
            }
        });


        // 添加查询条件
        var i = 1;
        $("#addSearch").click(function () {
            i++;
            var html = '            <div class="layui-form-item">\n' +
                '                <div class="layui-inline" style="width: 80%">\n' +
                '                    <label class="layui-form-label">查询条件'+i+'</label>\n' +
                '                    <div class="layui-input-inline" style="width: 20%;">\n' +
                '                        <input type="text" name="name'+i+'" placeholder="请输入分类名称（如“病理”）" autocomplete="off" class="layui-input">\n' +
                '                    </div>\n' +
                '                    <div class="layui-form-mid">：</div>\n' +
                '                    <div class="layui-input-inline" style="width: 60%;">\n' +
                '                        <textarea name="data'+i+'" placeholder="请输入该分类包含的所有查询条件。多个条件之间用【英文逗号,】隔开。（如A,B,C）" class="layui-textarea"></textarea>\n' +
                '                    </div>\n' +
                '                </div>\n' +
                '            </div>';
            $("#footerBtn").before(html);
        });

        function getSearch() {
            // 合成json字符串
            var str = '[';
            var name = '';
            var data = '';
            for (var j = 1; j <= i; j++) {
                var dataT = '';
                var n = 'name' + j, d = 'data' + j;
                name = '{"name":"' + $("[name=" + n + "]").val() + "\",";
                var dataArr = $("[name=" + d + "]").val().split('\n');
                for (var k = 0; k < dataArr.length; k++) {
                    if (dataArr[k] != '') {
                        dataT += '\"'+k+'\":"' + dataArr[k] + '\",';
                    }
                }
                data = dataT.substr(0, dataT.lastIndexOf(','));
                data = '"data":{'+data+'}},';
                str += name + data;
            }
            str = str.substr(0, str.lastIndexOf(','));
            str += ']';
            return str;
        }

        //监听提交
        form.on('submit(subBtn)', function(data){
            return false;
        });

    });
</script>

</body>
</html>